
@mixin title {
    .title-holder {
        text-align: center;
        margin: 0 0 40px;

        .subtitle{
            color: lighten($black, 40%);

            &::before {
                content: "-";
                margin-right: 5px;
            }
            &::after {
                content: "-";
                margin-left: 5px;
            }

        }
        
    }

}

@mixin container-fluid {
    .container-fluid {
        max-width: 1200px;
    }
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}