* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
        font-family: 'Almarai', sans-serif;
    //font-family: 'Playfair Display', serif;
}

%listreset {
    margin: 0;
    padding: 0;
    list-style: none;
}

%button {
    background-color:$red;
    border-color: $red;
    color: $white;
    padding: 13px 35px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s linear, color 0.3s linear;

    &:hover {
        background-color: $white;
        color: $red;
    }
}
